# .coveragerc to control coverage.py
[run]
branch = True
source = jdrones
# omit = bad_file.py

[paths]
source =
    src/
    */site-packages/

[report]
# Regexes for lines to exclude from consideration
omit =
    */_argparse_utils.py

exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    pragma: no branch

    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug

    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError

    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    pass

    # Don't complain if a argparse function is hit
    def add_subparser
    def add_args

    # Typpe checking related
    if TYPE_CHECKING:
